body {
  font-family: 'Roboto', sans-serif;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.navbar-brand {
  background-color: rgb(37, 34, 196);
  margin-right: 0%;
}

.navbar-nav{
  background-color: red;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
}

.container-fluid{
  background-color: rgb(233, 221, 221);
}



